 
 
 /* Background image for entire portfolio */
.bodyImage {
     background-image:url(../images/AdobeStock_339044837.jpeg);
     background-size: cover   
 }

.card {
      background-color:rgba(0, 0, 0, 0.5);
      
  }

.container  {
    color:rgb(255, 255, 255);
}

.resume {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(54, 54, 54);
}

.contactInfo {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(54, 54, 54);

}

.navbar {
    background-color: rgb(0, 0, 0);
}

.footer {
    background-color:;
    max-height: 20rem;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 1030;
}

.text {
    color: #4bbf73;
    text-shadow: 2px 2px 5px rgb(54, 54, 54);
}

.shadow {
    text-shadow: 2px 2px 5px rgb(54, 54, 54);
}


